body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global Classes */

/* Nav Bar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

#user-search-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#user-menu-container,
#search-bar-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  transition: all .25s;
}

#search-bar-container form {
  /* opacity: 0; */
  display: flex;
  flex-direction: row;
  position: absolute;
  /* transform: translateX(-75px); */
  right: 75px;
  height: 35px;
}

#search-input {
  background: none;
  border: none;
  text-indent: 5px;
}

#search-submit {
  border: none;
  padding: 5px 15px;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  transition: all .25s;
}
#search-submit:hover {
  background-color: #61dafb;
}

.navlink-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

.navlink-button {
  width: 100px;
  height: 50px;
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Landing Page */

/* Login Page */
